In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation
import fuzz

In [10]:
df=pd.read_excel("master.xlsx")
df.head()

,make,model,variant,fuel_type,cc,seating_capacity,output
0,ALFA ROMEO,156 GTA,STD,Petrol,3179,5,1110110101
1,ALFA ROMEO,VINTAGE,ROMEO,Petrol,1100,5,1110110201
2,ALFA ROMEO,VINTAGE,ALFA ROMEO,Petrol,1750,5,1110110202
3,ALFA ROMEO,VINTAGE,ALFA ROMEO,Petrol,1570,5,1110110203
4,ALFA ROMEO,VINTAGE,ALFA ROMEO,Petrol,1110,5,1110110204

In [11]:
#df.drop(df.iloc[:, 7:26], inplace=True, axis=1)
df.head()

,make,model,variant,fuel_type,cc,seating_capacity,output
0,ALFA ROMEO,156 GTA,STD,Petrol,3179,5,1110110101
1,ALFA ROMEO,VINTAGE,ROMEO,Petrol,1100,5,1110110201
2,ALFA ROMEO,VINTAGE,ALFA ROMEO,Petrol,1750,5,1110110202
3,ALFA ROMEO,VINTAGE,ALFA ROMEO,Petrol,1570,5,1110110203
4,ALFA ROMEO,VINTAGE,ALFA ROMEO,Petrol,1110,5,1110110204

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7678 entries, 0 to 7677
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   make              7678 non-null   object
 1   model             7678 non-null   object
 2   variant           7678 non-null   object
 3   fuel_type         7678 non-null   object
 4   cc                7678 non-null   int64
 5   seating_capacity  7678 non-null   int64
 6   output            7678 non-null   int64
dtypes: int64(3), object(4)
memory usage: 420.0+ KB

In [13]:
make_dic={}

make_num=df['make'].unique()
for i,y in enumerate(make_num):
    make_dic[y]=i
make_dic

{'ALFA ROMEO': 0,
 'ASTON MARTIN': 1,
 'AUDI': 2,
 'BENTLEY': 3,
 'BMW': 4,
 'MINI': 5,
 'CHEVROLET': 6,
 'CHRYSLER': 7,
 'DAEWOO': 8,
 'DATSUN': 9,
 'FERRARI': 10,
 'FIAT': 11,
 'FORCE': 12,
 'FORD': 13,
 'HINDUSTAN': 14,
 'HONDA': 15,
 'HUMMER': 16,
 'HYUNDAI': 17,
 'INFINITI': 18,
 'JAGUAR': 19,
 'LAMBORGHINI': 20,
 'LAND ROVER': 21,
 'Land Rover': 22,
 'MAHINDRA AND MAHINDRA': 23,
 'Mahindra And Mahindra': 24,
 'MAHINDRA RENAULT': 25,
 'MAHINDRA REVA': 26,
 'MARUTI SUZUKI': 27,
 'MASERATI': 28,
 'MERCEDES-BENZ': 29,
 'MITSUBISHI': 30,
 'NISSAN MOTORS': 31,
 'OPEL': 32,
 'PORSCHE': 33,
 'PREMIER': 34,
 'RENAULT': 35,
 'ROLLS ROYCE': 36,
 'SKODA': 37,
 'SSANGYONG': 38,
 'TATA': 39,
 'TOYOTA': 40,
 'VOLKSWAGEN': 41,
 'Volkswagen': 42,
 'VOLVO': 43,
 'ISUZU': 44,
 'JEEP': 45,
 'LEXUS': 46,
 'WILLYS INDIA': 47,
 'STANDARD HERALD': 48,
 'BAJAJ': 49,
 'CITROEN': 50,
 'DODGE': 51,
 'ICML': 52,
 'WOLSELEY': 53,
 'LANCHESTER': 54,
 'PLYMOUTH': 55,
 'CADILLAC': 56,
 'JM4 MOTORSPORTS': 57,
 'AUSTIN': 58,
 'BUICK': 59,
 'MCLAREN': 60,
 'STEYR': 61,
 'SAN': 62,
 'M G MOTORS': 63,
 'RELLY': 64,
 'PACKARD': 65,
 'ATVEA': 66,
 'MINERVA': 67,
 'PIERCE ARROW': 68,
 'KAISER': 69,
 'HUMBER': 70,
 'MORRIS': 71,
 'STUDEBAKER': 72,
 'MORRIS MINOR': 73,
 'RILEY': 74,
 'AUBURN': 75,
 'DE SOTO': 76,
 'KIA': 77,
 'HUDSON': 78,
 'GRAHAM PAIGE': 79,
 'AC SIX': 80,
 'MORRIS GARAGES': 81,
 'LINCOLN': 82,
 'GARDNER': 83,
 'TRIUMPH': 84,
 'CORD': 85,
 'AUTOCAR': 86,
 'GENERA': 87,
 'STUTZ': 88,
 'LASALLE': 89,
 'OAKLAND': 90,
 'SUNBEAM ALPINE': 91,
 'BUGATTI': 92,
 'TRIUMPH SPITFIRE': 93,
 'MORGAN': 94,
 'CUNNINGHAM': 95,
 'BENTOM': 96,
 'ROVER': 97,
 'AMERICAN LAFRANCE': 98,
 'KARMAN GHIA': 99,
 'VELOX': 100,
 'RAMBLER': 101,
 'MARMON': 102,
 'OLDMOBILE R': 103,
 'RED BUG': 104,
 'MAXWELL': 105,
 'WILLYS SIX': 106,
 'ALVIS': 107,
 'DART MODEL': 108,
 'BRIGGS AND STRATTON': 109,
 'ORIENT BUCKBOARD': 110,
 'SEARS MODEL': 111,
 'MOTEGO': 112,
 'ALDER': 113,
 'MGB SPORTS': 114,
 'EICHER POLARIS': 115,
 'MG CAR COMPANY LTD': 116,
 'BRUSH MODEL': 117,
 'PEUGEOT': 118,
 'AUBURN 8 101': 119,
 'KIBLINGER MODEL D': 120,
 'PONTIAC FIREBIRD': 121,
 'BADAL': 122,
 'EMF MODEL 30': 123,
 'GENERAL MOTORS': 124,
 'WILLYS MOTOR LTD': 125,
 'STEVENS': 126,
 'PACKAARD': 127,
 'R ROVER': 128,
 'OLDSMOBILES': 129,
 'HILLMAN': 130,
 'SAAB': 131,
 'IHC MODEL AW': 132,
 'UNO': 133,
 'ESCORT': 134,
 'STUDEBAKAER CHAMPION': 135,
 'KIBILINGER': 136,
 'GREAVES': 137,
 'DAIMLER': 138,
 'REO MODEL': 139,
 'LOTUS': 140,
 'DUESENBERG': 141,
 'MERCURY COMET': 142,
 'BRISTOL': 143,
 'NASH': 144,
 'LAGONDA': 145,
 'AMC JAVELIN': 146,
 'ARMSTRONG': 147,
 'TOURER': 148,
 'DKW': 149,
 'BYD INDIA PRIVATE LIMITED': 150,
 'MAZDA JAPAN': 151,
 'LANCIA': 152,
 'THE LONDON TAXI COMPANY': 153,
 'HISPANO SUIZA': 154,
 'DETROITER': 155,
 'HUPMOBILE': 156}

In [14]:
df['make']=[make_dic[x] for x in df['make']]

In [15]:
df.head()

   make    model     variant fuel_type    cc  seating_capacity      output
0     0  156 GTA         STD    Petrol  3179                 5  1110110101
1     0  VINTAGE       ROMEO    Petrol  1100                 5  1110110201
2     0  VINTAGE  ALFA ROMEO    Petrol  1750                 5  1110110202
3     0  VINTAGE  ALFA ROMEO    Petrol  1570                 5  1110110203
4     0  VINTAGE  ALFA ROMEO    Petrol  1110                 5  1110110204

In [16]:
model_dic={}

model_num=df['model'].unique()
for i,y in enumerate(model_num):
    model_dic[y]=i
model_dic

{'156 GTA': 0,
 'VINTAGE': 1,
 'DB9': 2,
 'DBS': 3,
 'RAPIDE': 4,
 'VANTAGE V8': 5,
 'VIRAGE': 6,
 'DB11': 7,
 'VANQUISH': 8,
 'One 77': 9,
 'DBX': 10,
 'A3': 11,
 'A4': 12,
 'A6': 13,
 'A8': 14,
 'Q3': 15,
 'Q5': 16,
 'Q7': 17,
 'R8': 18,
 'RS 6': 19,
 'RS 7': 20,
 'S5 SPORT BACK': 21,
 'TT': 22,
 'A7': 23,
 'C7': 24,
 'RS 5': 25,
 'S4': 26,
 'S6': 27,
 'A5': 28,
 'Q8': 29,
 'Q2': 30,
 'E TRON': 31,
 'ARANGE': 32,
 'AZURE T': 33,
 'CONTINENTAL FLYING SPUR': 34,
 'CONTINENTAL GT': 35,
 'CONTINENTAL SUPERSPORTS': 36,
 'MULSANNE': 37,
 'AZURE': 38,
 'CONTINENTAL': 39,
 'BROOKLANDS': 40,
 'TURBO R': 41,
 'BENTAYGA': 42,
 '1 SERIES': 43,
 '3 SERIES': 44,
 '5 SERIES': 45,
 '6 SERIES CONVERTIBLE': 46,
 '6 SERIES COUPE': 47,
 '6 SERIES': 48,
 '7 SERIES': 49,
 'GRAN TURISMO': 50,
 'Gran Turismo': 51,
 'i8': 52,
 'M MODELS': 53,
 'M3': 54,
 'M4': 55,
 'M5': 56,
 'M6': 57,
 'M760Li': 58,
 'X1': 59,
 'X1 SERIES': 60,
 'X3': 61,
 'X3 SERIES': 62,
 'X5': 63,
 'X5 M': 64,
 'X5 SERIES': 65,
 'X6': 66,
 'X6 M': 67,
 'X6 SERIES': 68,
 'Z3 Models': 69,
 'Z4 Models': 70,
 'Z4 ROADSTER': 71,
 'X4': 72,
 'X7': 73,
 'IX40': 74,
 'i4': 75,
 '2 Series': 76,
 'MINI COOPER': 77,
 'MINI COOPER CABRIO': 78,
 'MINI COOPER CONVERTIBLE': 79,
 'MINI COOPER S': 80,
 'MINI COOPER S COUNTRYMAN': 81,
 'MINI COUNTRYMAN': 82,
 'ROVER MINI COOPER': 83,
 'MINI COOPER D COUNTRYMAN': 84,
 'AVEO': 85,
 'AVEO UVA': 86,
 'BEAT': 87,
 'CAPTIVA': 88,
 'CRUZE': 89,
 'ENJOY': 90,
 'OPTRA': 91,
 'OPTRA MAGNUM': 92,
 'OPTRA SRV': 93,
 'SAIL': 94,
 'SAIL UVA': 95,
 'SPARK': 96,
 'TAVERA': 97,
 'TRAILBLAZER': 98,
 'CORVETTE': 99,
 'PONTIAC': 100,
 'TAVERA NEO 2': 101,
 'TAVERA NEO 3': 102,
 'SSR': 103,
 'FORESTER': 104,
 'SUBURBAN': 105,
 'Silverado': 106,
 'RUBBY': 107,
 'GRAND VOYAGER': 108,
 'LEBARON': 109,
 '300': 110,
 'NEW YORKER': 111,
 'CIELO': 112,
 'MATIZ': 113,
 'NEXIA': 114,
 'GO': 115,
 'GO PLUS': 116,
 'REDI GO': 117,
 'F 149': 118,
 'F 151': 119,
 'F 430': 120,
 '458': 121,
 '599': 122,
 'FF': 123,
 'F 308': 124,
 'F 355': 125,
 'TESTAROSSA': 126,
 'LA FERRARI': 127,
 '488': 128,
 'SF90 STRADALE S-A': 129,
 'PORTOFLINO': 130,
 'ABARTH': 131,
 'AVVENTURA': 132,
 'BRAVO': 133,
 'GRANDE PUNTO': 134,
 'LINEA': 135,
 'LINEA CLASSIC': 136,
 'PALIO': 137,
 'PALIO STILE': 138,
 'PALIO STILE MULTIJET': 139,
 '500 LOUNGE': 140,
 '500 SPORTS': 141,
 'MAREA': 142,
 'PETRA': 143,
 'SIENA': 144,
 'SIENA WEEKENDELX': 145,
 'UNO': 146,
 'PUNTO EVO': 147,
 'PUNTO PURE': 148,
 '1100': 149,
 'ABARTH PUNTO': 150,
 'ABARTH AVVENTURA': 151,
 'AVVENTURA URBAN CROSS': 152,
 'PUNTO': 153,
 'TRAX': 154,
 'GURKHA': 155,
 'TEMPO': 156,
 'FORCE ONE': 157,
 'FIGO ASPIRE': 158,
 'ECOSPORT': 159,
 'ENDEAVOUR': 160,
 'FIESTA': 161,
 'FIGO': 162,
 'FUSION': 163,
 'FUSION PLUS': 164,
 'IKON': 165,
 'MUSTANG': 166,
 'FREESTYLE': 167,
 'ESCORT': 168,
 'JEEP': 169,
 'NEW ASPIRE': 170,
 'F 150': 171,
 'NEW FIGO': 172,
 'TOUGER': 173,
 'MONDEO': 174,
 'AMBASSADOR': 175,
 'CONTESSA': 176,
 'ACCORD': 177,
 'ACCORD HYBRID': 178,
 'AMAZE': 179,
 'BR - V': 180,
 'BRIO': 181,
 'CITY': 182,
 'CITY ZX': 183,
 'CIVIC': 184,
 'CIVIC HYBRID': 185,
 'CRV': 186,
 'JAZZ': 187,
 'MOBILIO': 188,
 'BRIO NEW': 189,
 'NEW CITY': 190,
 'NEW CITY (2004)': 191,
 'WR - V': 192,
 'CONCERTO': 193,
 'H2 SUV': 194,
 'H3 SUV': 195,
 'ACCENT': 196,
 'CRETA': 197,
 'CRETA FACELIFT': 198,
 'ELANTRA': 199,
 'ELITE i20': 200,
 'ELITE i20 FACELIFT': 201,
 'EON': 202,
 'FLUIDIC ELANTRA': 203,
 'FLUIDIC VERNA': 204,
 'GETZ': 205,
 'GETZ PRIME': 206,
 'GRAND i10': 207,
 'i10': 208,
 'i20': 209,
 'I20': 210,
 'i20 ACTIVE': 211,
 'NEW I20': 212,
 'SANTA FE': 213,
 'SANTRO': 214,
 'SANTRO XING': 215,
 'SONATA': 216,
 'SONATA EMBERA': 217,
 'SONATA TRANSFORM': 218,
 'TUCSON': 219,
 'VERNA': 220,
 'XCENT': 221,
 'VERNA TRANSFORM': 222,
 'TERRACAN': 223,
 'NEXT GEN VERNA': 224,
 'SANTRO NEW': 225,
 'VENUE': 226,
 'KONA': 227,
 'GRAND i10 NIOS': 228,
 'GRAND I10 NIOS': 229,
 'AURA': 230,
 'NEW VERNA': 231,
 'GENESIS': 232,
 'ALCAZAR': 233,
 'FX 30': 234,
 'FX 50': 235,
 'F-PACE': 236,
 'XE': 237,
 'XF': 238,
 'XJ': 239,
 'XK': 240,
 'XKR': 241,
 'XKR COUPE': 242,
 'XKR-S': 243,
 'SOVEREIGN': 244,
 'MARK IV': 245,
 'F TYPE': 246,
 'MK II': 247,
 'S TYPE': 248,
 'E TYPE': 249,
 'XJ L': 250,
 'AVENTADOR': 251,
 'GALLARDO': 252,
 'MURCIELAGO': 253,
 'HURACAN': 254,
 'COUNTACH': 255,
 'URUS': 256,
 'DEFENDER': 257,
 'DISCOVERY': 258,
 'DISCOVERY 4': 259,
 'DISCOVERY SPORT': 260,
 'FREELANDER 2': 261,
 'RANGE ROVER': 262,
 'Range Rover': 263,
 'RANGE ROVER EVOQUE': 264,
 'RANGE ROVER SPORT': 265,
 'RANGE ROVER SPORT HSC': 266,
 'RANGE ROVER VELAR': 267,
 'DISCOVERY 3': 268,
 'RANGE ROVER VOUGE': 269,
 'BOLERO': 270,
 'CLASSIC': 271,
 'COMMANDER': 272,
 'e2o': 273,
 'e2o Plus': 274,
 'KUV100': 275,
 'NUVOSPORT': 276,
 'QUANTO': 277,
 'SCORPIO': 278,
 'SCORPIO CRDE': 279,
 'SCORPIO GETAWAY': 280,
 'SCORPIO M HAWK': 281,
 'SCORPIO M2DICR': 282,
 'SCORPIO W CRDE': 283,
 'THAR': 284,
 'TUV300': 285,
 'VERITO': 286,
 'VERITO VIBE CS': 287,
 'XUV500': 288,
 'XYLO': 289,
 'MARSHAL': 290,
 'IMPERIO': 291,
 'MARAZZO': 292,
 'MAHINDRA JEEP': 293,
 'SUPRO': 294,
 'E VERITO': 295,
 'Vista Tech': 296,
 'REXTON': 297,
 'GENIO': 298,
 'MAXXIMO': 299,
 'MAHINDRA WILLYS': 300,
 'ALTURAS': 301,
 'SAVARI': 302,
 'XUV300': 303,
 'MAXX': 304,
 'MAJOR': 305,
 'ECONOMY DI': 306,
 'XUV 700': 307,
 'MARKSMAN': 308,
 'SCORPIO N': 309,
 'LOGAN': 310,
 'LOGAN EDGE': 311,
 'LOGAN TOURER': 312,
 'REVAI': 313,
 'E 2O': 314,
 '800': 315,
 '1000': 316,
 '800 DUO': 317,
 'A STAR': 318,
 'ALTO': 319,
 'ALTO 800': 320,
 'ALTO K10': 321,
 'ALTO K10B': 322,
 'BALENO NEW': 323,
 'CELERIO': 324,
 'CELERIO X': 325,
 'CIAZ': 326,
 'DZIRE': 327,
 'EECO': 328,
 'ERTIGA': 329,
 'ESTEEM': 330,
 'ESTILO NEW': 331,
 'GRAND VITARA': 332,
 'GYPSY': 333,
 'IGNIS': 334,
 'KIZASHI': 335,
 'OMNI': 336,
 'RITZ': 337,
 'S CROSS': 338,
 'SWIFT': 339,
 'SWIFT DZIRE': 340,
 'SWIFT DZIRE KB': 341,
 'SWIFT KB': 342,
 'SX4': 343,
 'VERSA': 344,
 'VITARA BREZZA': 345,
 'WAGON R': 346,
 'ZEN': 347,
 'STINGRAY': 348,
 'BALENO': 349,
 'XL6': 350,
 'S PRESSO': 351,
 'JIMNY': 352,
 'NEW BREZZA': 353,
 'GRAN CABRIO': 354,
 'QUATTROPORTE': 355,
 'LAVANTE': 356,
 'A CLASS': 357,
 'A 200 LIMOUSINE': 358,
 'B CLASS': 359,
 'C CLASS': 360,
 'CLA': 361,
 'CLK': 362,
 'CLS': 363,
 'E CLASS': 364,
 'E CLASS CABRIOLET': 365,
 'E CLASS LIMOUSINE': 366,
 'G CLASS': 367,
 'GL CLASS': 368,
 'GLA': 369,
 'GLC': 370,
 'GLE': 371,
 'GLS': 372,
 'MAYBACH S CLASS': 373,
 'ML CLASS': 374,
 'R CLASS': 375,
 'S CLASS': 376,
 'SL CLASS': 377,
 'SLK': 378,
 'SLS': 379,
 'VIANO': 380,
 'SLC': 381,
 'W123': 382,
 'GT S': 383,
 'BENZ 209': 384,
 'D CLASS': 385,
 'W126': 386,
 'V CLASS': 387,
 'EQC 400': 388,
 'W463': 389,
 'LANCER CEDIA': 390,
 'LANCER': 391,
 'OUTLANDER': 392,
 'PAJERO': 393,
 'MONTERO': 394,
 'GTO': 395,
 'F T O': 396,
 'PAJERO SPORT': 397,
 'EVALIA': 398,
 'MICRA': 399,
 'MICRA ACTIVE': 400,
 'MICRA NEW MC': 401,
 'X-TRAIL': 402,
 'TEANA': 403,
 'TERRANO': 404,
 'SUNNY': 405,
 'GT-R': 406,
 'KICKS': 407,
 'JONGA': 408,
 'MAGNITE': 409,
 'PATROL': 410,
 'CEFIRO': 411,
 'ASTRA': 412,
 'CORSA': 413,
 'CORSA SAIL': 414,
 'CORSA SWING': 415,
 'VECTRA': 416,
 '911': 417,
 'BOXTER': 418,
 'BOXTER S': 419,
 'CAYENNE': 420,
 'CAYENNE GTS': 421,
 'CAYENNE S': 422,
 'CAYENNE TURBO': 423,
 'CAYENNE TURBO S': 424,
 'CAYMAN': 425,
 'CAYMAN S': 426,
 'PANAMERA': 427,
 'PANAMERA 4': 428,
 'PANAMERA 4S': 429,
 'PANAMERA S': 430,
 'PANAMERA TURBO': 431,
 'MACAN': 432,
 '718-CAYMAN': 433,
 'RIO': 434,
 'RIO PLUS': 435,
 'PADMINI': 436,
 'SIGMA': 437,
 'DUSTER': 438,
 'FLUENCE': 439,
 'KOLEOS': 440,
 'KWID': 441,
 'LODGY': 442,
 'PULSE': 443,
 'SCALA': 444,
 'CAPTUR': 445,
 'TRIBER': 446,
 'KIGER': 447,
 'REINASTELLA': 448,
 'GHOST': 449,
 'PHANTOM': 450,
 'SILVER': 451,
 'WRAITH': 452,
 'CULLINAN': 453,
 'DAWN ZX82': 454,
 'FABIA': 455,
 'LAURA': 456,
 'OCTAVIA': 457,
 'OCTAVIA COMBI': 458,
 'RAPID': 459,
 'SUPERB': 460,
 'YETI': 461,
 'Kodiaq': 462,
 'Karoq': 463,
 'KUSHAQ': 464,
 'SLAVIA': 465,
 'ARIA': 466,
 'BOLT': 467,
 'GENX NANO': 468,
 'HEXA': 469,
 'INDICA': 470,
 'INDICA eV2 CR4': 471,
 'INDICA eV2 XETA': 472,
 'INDICA V2': 473,
 'INDICA V2 DICOR': 474,
 'INDICA V2 TURBO': 475,
 'INDICA V2 XETA': 476,
 'INDICA VISTA': 477,
 'INDIGO': 478,
 'INDIGO CS': 479,
 'INDIGO eCS': 480,
 'INDIGO Ecs': 481,
 'INDIGO MANZA': 482,
 'INDIGO MARINA': 483,
 'INDIGO V SERIES': 484,
 'INDIGO XL': 485,
 'MOVUS': 486,
 'NANO': 487,
 'NANO eMAX': 488,
 'SAFARI': 489,
 'SAFARI (1998)': 490,
 'SAFARI DICOR': 491,
 'SPACIO': 492,
 'SUMO': 493,
 'SUMO GOLD': 494,
 'SUMO GRANDE': 495,
 'SUMO VICTA': 496,
 'TIAGO': 497,
 'TIGOR': 498,
 'VENTURE': 499,
 'VISTA TECH': 500,
 'ZEST': 501,
 'NEXON': 502,
 'XENON': 503,
 'SIERRA': 504,
 'HARRIER': 505,
 'WINGER': 506,
 'ALTROZ': 507,
 'YODHA': 508,
 'PUNCH': 509,
 'XPRES T': 510,
 'MOBIL': 511,
 'CAMRY': 512,
 'COROLLA': 513,
 'COROLLA ALTIS': 514,
 'ETIOS': 515,
 'ETIOS CROSS': 516,
 'ETIOS LIVA': 517,
 'FORTUNER': 518,
 'INNOVA': 519,
 'INNOVA CRYSTA': 520,
 'LAND CRUISER': 521,
 'LAND CRUISER PRADO': 522,
 'LAND CRUSIER 200': 523,
 'LEXUS': 524,
 'PLATINUM ETIOS': 525,
 'PRADO': 526,
 'PRIUS': 527,
 'QUALIS': 528,
 'YARIS': 529,
 'CARONA': 530,
 'ALPHARD': 531,
 'VELLFIRE': 532,
 'LIBYA': 533,
 'RAV4': 534,
 'GLANZA': 535,
 'HIACE': 536,
 'URBAN CRUISER': 537,
 'MRS': 538,
 'TARAGO': 539,
 'HILUX': 540,
 'SERA': 541,
 'AMEO': 542,
 'BEETLE': 543,
 'POLO CROSS': 544,
 'GTI': 545,
 'JETTA': 546,
 'NEW BEETLE': 547,
 'PASSAT': 548,
 'POLO': 549,
 'POLO GT': 550,
 'POLO GTI': 551,
 'TIGUAN': 552,
 'VENTO': 553,
 'PHAETON': 554,
 'VENTO GT': 555,
 'TOUAREG': 556,
 'VINATGE': 557,
 'T ROC': 558,
 'TAIGUN': 559,
 'VIRTUS': 560,
 'CABROLAT': 561,
 'S60': 562,
 'S90': 563,
 'V60': 564,
 'V90': 565,
 'XC60': 566,
 'XC90': 567,
 'S80': 568,
 'V40': 569,
 'XC70': 570,
 'XC40': 571,
 'D-MAX': 572,
 'PANTHER': 573,
 'MU 7': 574,
 'MUX': 575,
 'COMPASS': 576,
 'MERIDIAN': 577,
 'GRAND CHEROKEE': 578,
 'WRANGLER': 579,
 'ES 300 H': 580,
 'WILLYS': 581,
 'AUTORICKSAW': 582,
 'QUTE RE60': 583,
 'C5 Aircross': 584,
 'C3': 585,
 'DODGE': 586,
 'EXTREME': 587,
 'V 16': 588,
 'ESCALADE': 589,
 'BUGGY BUILDER': 590,
 'BUICK': 591,
 'LUCERNE': 592,
 'SPORTS SERIES': 593,
 'SENNA': 594,
 '720 S': 595,
 'STORM': 596,
 'BUGGY': 597,
 'OFF ROAD VEHICLE': 598,
 'SELTOS': 599,
 'CARNIVAL': 600,
 'SONET': 601,
 'SONET Anniversary Edition': 602,
 'NIRO': 603,
 'SPORTAGE': 604,
 'SORENTO': 605,
 'CARENS': 606,
 'EV6': 607,
 'HECTOR': 608,
 'ZS EV': 609,
 'HECTOR PLUS': 610,
 'GLOSTER': 611,
 'ASTOR': 612,
 'NAVIGATOR': 613,
 '3 WHEELER': 614,
 'MUTLIX': 615,
 'CARSA 1.6 RAYELE': 616,
 'OPEL ASTRA': 617,
 'ELISE': 618,
 'E6': 619,
 'TX4': 620}

In [17]:
df['model']=[model_dic[x] for x in df['model']]

In [18]:
df.head()

   make  model     variant fuel_type    cc  seating_capacity      output
0     0      0         STD    Petrol  3179                 5  1110110101
1     0      1       ROMEO    Petrol  1100                 5  1110110201
2     0      1  ALFA ROMEO    Petrol  1750                 5  1110110202
3     0      1  ALFA ROMEO    Petrol  1570                 5  1110110203
4     0      1  ALFA ROMEO    Petrol  1110                 5  1110110204

In [19]:
var_dic={}

var_num=df['variant'].unique()
for i,y in enumerate(var_num):
    var_dic[y]=i
var_dic

{'STD': 0,
 'ROMEO': 1,
 'ALFA ROMEO': 2,
 'Coupe': 3,
 'Coupe 2STR': 4,
 '6.0 RHD': 5,
 '6.0 RHD Touchtronic': 6,
 'S Coupe Sportshift': 7,
 '6.0 V12 Volante': 8,
 'V8 Coupe': 9,
 'V12': 10,
 'AUSTIN TEN': 11,
 '2020': 12,
 '35 TDI Premium Plus': 13,
 '35 TDI Technology': 14,
 '35 TFSI Premium Plus': 15,
 '35 TFSI Technology': 16,
 '35 TDI Attraction': 17,
 '35 TDI Cabriolet': 18,
 '35 TDI Limousine': 19,
 '35 TDI Premium': 20,
 '35TDI Premium+ with Sunroof': 21,
 '35 TDI Premium with Sunroof': 22,
 '35 TDI Technology Pack': 23,
 '35TDI Technology Pack Sunroof': 24,
 '35 TDI Technology Sunroof nav': 25,
 '40 TFSI Cabriolet': 26,
 '40 TFSI Cabriolet Full (O)': 27,
 '40 TFSI Limousine': 28,
 '40 TFSI Premium Plus': 29,
 '40 TFSI Premium+ with Sunroof': 30,
 '40TFSI Panoramic Glassroof': 31,
 '1.4 TFSI Cabriolet': 32,
 'V6 AT': 33,
 '35 TFSI Cabriolet': 34,
 '40 TFSI Premium': 35,
 '30 TFSI Premium Plus': 36,
 '30 TFSI Technology pack': 37,
 '2.0 TDI': 38,
 '35 TSFI': 39,
 '30 TFSI Technology': 40,
 '1.8 Multitronic': 41,
 '1.8 TFSI': 42,
 '1.8 TFSI navi Edition': 43,
 '1.8 TFSI Premium Edition': 44,
 '1.8 TFSI Premium Plus': 45,
 '2.0 TDI Business Edition': 46,
 '2.0 TDI Multitronic': 47,
 '2.0 TDI navi Edition': 48,
 '2.0 TDI Premium Edition': 49,
 '2.0 TDI Premium Plus': 50,
 '2.0 TDI wci Package': 51,
 '2.0 TFSI': 52,
 '3.0 TDI Quattro': 53,
 '3.0 TDI Quattro wci Package': 54,
 '3.0 TDI Quattro Unique': 55,
 '3.2 FSI Quattro': 56,
 '3.2 FSI Quattro wci Package': 57,
 '1.8 TFSI Technology Edition': 58,
 '35 TSFI M': 59,
 '35 TFSI': 60,
 '40 TFSI PREMIUM PLUS': 61,
 '40 TFSI TECHNOLOGY': 62,
 '35 TDI MULTITRONIC': 63,
 '35 TDI': 64,
 '45 TFSI Premium': 65,
 '35 TDI Matrix Edition': 66,
 '35 TFSI Matrix': 67,
 '35 TDI Technolgy Pack': 68,
 '2.0 TDI Imported': 69,
 '2.0 TDI LED Headlights': 70,
 '2.0 TDI LED Headlights & wci': 71,
 '2.0TDI LED Headlights &wci&weu': 72,
 '2.0 TDI Navigation Edition': 73,
 '2.0 TDI Premium Plus Edition': 74,
 '2.0 TDI wci Luxury Package': 75,
 '2.0 TDI weu Multimedia Package': 76,
 '2.7 TDI': 77,
 '2.7 TDI with wci Package': 78,
 '2.8 FSI': 79,
 '2.8 FSI LED Headlights': 80,
 '2.8 FSI LED Headlights & wci': 81,
 '2.8FSI LED Headlights&wci&weu': 82,
 '2.8 FSI wci Luxury Package': 83,
 '2.8 FSI weu Multimedia Package': 84,
 '3.0 Multitronic (AT)': 85,
 '3.0 TDI Premium Edition': 86,
 '3.0 TDI Premium Plus Edition': 87,
 '3.0 TDI Quattro LED Headlights': 88,
 '3.0TDI Quattro LED H/L wci': 89,
 '3.0TDI Quattro LED H/L wci weu': 90,
 '3.0TDI Quattro wci Luxury Pack': 91,
 '3.0TDI Quattro weu Multimedia': 92,
 '3.0TDI Quattro weu wci LED H/L': 93,
 '3.0 TFSI Quattro': 94,
 '3.0TFSI Quattro LED Headlights': 95,
 '3.0 TFSI Quattro LED H/L & wci': 96,
 '3.0TFSI Quattro LEDH/L wci&weu': 97,
 '3.0TFSI Quattro wci Luxury PAC': 98,
 '3.0TFSI Quattro weu Multimedia': 99,
 '2.0 TFSI Premium': 100,
 '2.0 TFSI Premium Plus': 101,
 '2.0 TFSI Technology Pack': 102,
 '1.8 T Multitronic': 103,
 '35 TFSI Premium': 104,
 '3.0 TDI Navigation Edition': 105,
 '3.0 TDI Technology Pack': 106,
 '45 TFSI Premium Plus': 107,
 '45 TFSI Technology': 108,
 'L 50 TDI Quattro': 109,
 'L 50 TDI Quattro Premium Plus': 110,
 'L 60 TDI Quattro': 111,
 'L 60 TFSI Quattro': 112,
 'L Security': 113,
 'L W12 Quattro': 114,
 '3.0TDI Quattro Panoramic SR': 115,
 '3.0 TDI Quattro wci PKG': 116,
 '4.2 FSI Quattro': 117,
 '6.0 L Quattro W12 (AT)': 118,
 '6.3 FSI W12': 119,
 '6.3 W12 Quattro': 120,
 '4.2 TDI Quattro Advance Pack': 121,
 'L 4.0 TFSI Quattro Standard': 122,
 'L 4.2 TDI Quattro': 123,
 'L 55 TFSI': 124,
 'L 55 TFSI QUATTRO': 125,
 'Celebration Edition Hybrid': 126,
 'Technology Edition Hybrid': 127,
 '1.4 TFSI': 128,
 '2.0 TDI Quattro': 129,
 '30 TDI Premium FWD': 130,
 '30 TFSI Premium FWD': 131,
 '35 TDI Quattro Premium Plus': 132,
 '35 TDI Quattro Technology': 133,
 '2.0 TDI Base GRADE': 134,
 '2.0 TDI Quattro Base': 135,
 '2.0 TDI Quattro High Grade': 136,
 '2.0 TFSI Quattro Base': 137,
 '2.0 TFSI Quattro High Grade': 138,
 '35 TDI Quattro Premium': 139,
 '30 TFSI': 140,
 '30 TDI Design Edition': 141,
 '30 TDI Quattro Premium': 142,
 '30 TDI Sports Edition': 143,
 '2.0TDI Quattro Busines Edition': 144,
 '2.0 TDI Quattro Panaroma SR': 145,
 '2.0 TDI Quattro wci PANAROM SR': 146,
 '2.0 TFSI Quattro': 147,
 '2.0TFSI Quattro Panaroma SR': 148,
 '2.0 TFSI Quattro wci': 149,
 '2.0TFSI Quattro wci&Panarom SR': 150,
 '3.0TDI Quattro Panaroma SR': 151,
 '3.0 TDI Quattro wci': 152,
 '3.0TDI Quattro wci&Panaroma SR': 153,
 '3.0 TDI Quattro (AT)': 154,
 '45 TDI Technology S Line': 155,
 '45 TDI Quattro Technology': 156,
 '30 TDI Quattro Technology': 157,
 '40 TDI Premium Plus': 158,
 '40 TDI Technology': 159,
 '45 TDI Quattro Premium Plus': 160,
 '45 TDI Edition': 161,
 '40 TFSI Quattro': 162,
 '3.0 TDI Quattro NAV Pack Proof': 163,
 '3.0 TDI': 164,
 '40 TFSI Quattro Premium Plus': 165,
 '40 TFSI Quattro Technology': 166,
 '3.0 TDI Tiptronic Quattro': 167,
 '3.0 TFSI': 168,
 '3.6 FSI Tiptronic Quattro': 169,
 '4.2 FSI Tiptronic Quattro': 170,
 '4.2 TDI': 171,
 '3.5 TDI PERMIUM': 172,
 '3.5 TDI QUATTRO (AT)': 173,
 '45 TFSI': 174,
 '40 TFSI QUATTRO TECHNOLOGY': 175,
 '55 TFSI Premium Plus': 176,
 '55 TFSI Technology': 177,
 'V10 Plus': 178,
 '4.2 V8 FSI (MT)': 179,
 '4.2V8 FSI Rtronic Transmission': 180,
 '5.2 FSI Quattro V10': 181,
 'Spyder 5.2 FSI Quattro V10': 182,
 '40 TFSI': 183,
 'Sportback': 184,
 'Sportback Performance': 185,
 '4.0 TFSI': 186,
 '3.0 TFSI QUATTRO': 187,
 '2.0 TFSI q': 188,
 '108': 189,
 '3.2 S tronic Quattro': 190,
 '2.0 TFSI QUATTRO': 191,
 '3.0 TDI Sportback Quattro': 192,
 '3.0 V6 TDI': 193,
 '3.0 V6 TDI Fully Loaded': 194,
 '3.0 TFSI WCILED': 195,
 '3.0TDI LED wci': 196,
 '4.2 FSI': 197,
 '3.0 V6 TFSI': 198,
 '4.0 TFSI Quattro': 199,
 'SPORTBACK': 200,
 'S5': 201,
 '2.0 TDI CABRIOLET': 202,
 '55 TFSI Quattro': 203,
 '4.0L TFSI': 204,
 'Celebration': 205,
 '40 TFSI quattro': 206,
 '40 TFSI quattro Plus': 207,
 '40 TFSI STD': 208,
 'PREMIUM': 209,
 'PREMIUM PLUS I': 210,
 'TECHNOLOGY': 211,
 '50 AT': 212,
 '55 AT': 213,
 '55 SPORT BACK': 214,
 'GT RS': 215,
 'Arange R': 216,
 'Arange RL': 217,
 'Convertible': 218,
 '3W 5STR': 219,
 '4STR': 220,
 '5STR': 221,
 'MY11 5STR': 222,
 'V8': 223,
 'W12': 224,
 'Speed': 225,
 'V8 S': 226,
 '19 MY': 227,
 '2STR Coupe': 228,
 'MY 11': 229,
 '6.8 Convertible my 2009': 230,
 'GTC CAR': 231,
 '6.7 V8 Coupe': 232,
 'VINTAGE CAR': 233,
 'M 146': 234,
 'MK VI': 235,
 '4 TOURER': 236,
 'VI COUPE': 237,
 'CONVERTIBLE': 238,
 '118d Sport Line': 239,
 '118D': 240,
 '116 I': 241,
 '320d GT Luxury Line': 242,
 '320d GT Sports Line': 243,
 '320d Luxury Line': 244,
 '320d Luxury Line Plus': 245,
 '320d M Sport': 246,
 '320d Prestige': 247,
 '320d Sports Line': 248,
 '320i GT Luxury Line Plus': 249,
 '320i M Sport': 250,
 '320i Sports Line': 251,
 'Convertible 330d': 252,
 '330d 5STR': 253,
 '316i': 254,
 '318i': 255,
 '320d': 256,
 '320d Corporate Edition': 257,
 '320d Dynamic Package': 258,
 '320d Exclusive': 259,
 '320d Highline': 260,
 '320d Highline LCi': 261,
 '320d LCi': 262,
 '320d Luxury Plus': 263,
 '320d Performance Edition': 264,
 '320d Sport Line CBU': 265,
 '320d Sport Plus': 266,
 '320i': 267,
 '320i Corporate Edition': 268,
 '320i LCi': 269,
 '325i': 270,
 '325i LCi': 271,
 '328i Sports Line': 272,
 '330i': 273,
 '330i Sport': 274,
 'GT 330i M Sport': 275,
 '330i M Sport': 276,
 'G L 330Li M Sport 1ST EDN': 277,
 'G L 320LD LUXURY LINE': 278,
 'M 340i Xdrive': 279,
 'M 340i CKD 2021': 280,
 '330Li Luxury Line': 281,
 '520D': 282,
 '520d Luxury Line': 283,
 '520d Sports Line': 284,
 '520i': 285,
 '523i': 286,
 '525D': 287,
 '525d 2.0': 288,
 '525d RSE': 289,
 '525i': 290,
 '528i': 291,
 '530d': 292,
 '530d Highline': 293,
 '530d M Sport': 294,
 '530i': 295,
 '530i Sports Line': 296,
 '535i': 297,
 '540i': 298,
 '520i Luxury Line': 299,
 '523i CKD AT': 300,
 '525d Luxury Plus': 301,
 '530i M Sport': 302,
 '640d': 303,
 '650i': 304,
 '650i 4.4': 305,
 '650i Comfort': 306,
 '650i Comfort + Innovation Pac': 307,
 '650i Dynamic + Innovation Pac': 308,
 '650i Dynamic Package': 309,
 '650i Innovation Package': 310,
 '640d Gran Coupe': 311,
 '645 CI': 312,
 'Gran Coupe': 313,
 'GT 630 I Sport Line': 314,
 'GT 630 d Luxury Line': 315,
 'GT 630 d M Sport': 316,
 'GT 630 I Luxury Line': 317,
 'GT 620 D Luxury Line': 318,
 'GT 620 d Luxury Line': 319,
 'GT 630i M Sport': 320,
 'GT 630i M Sport Jahre M Edtn': 321,
 '728i': 322,
 '730Ld Customised': 323,
 '730Ld': 324,
 '730Ld CKD': 325,
 '730Ld Corporate Edition': 326,
 '730Ld Design Pure Excellence': 327,
 '730Ld DPE Signature': 328,
 '730Ld Innovation + Luxury Pac': 329,
 '730Ld Innovation Package': 330,
 '730Ld Limousine': 331,
 '730Ld Luxury Package': 332,
 '730Ld M Sport': 333,
 '730Ld M Sport Plus': 334,
 '735Li': 335,
 '740Li': 336,
 '740Li DPE Signature': 337,
 '740Li 4.0': 338,
 '740Li Innovation + Luxury Pac': 339,
 '740Li Innovation Package': 340,
 '740Li Luxury Package': 341,
 '750Li M Sport N63 4.4': 342,
 '750Li': 343,
 '750Li M Sport CBU': 344,
 '750Li Customised': 345,
 '750Li Design Pure Excellence': 346,
 '750Li Innovation + Luxury Pac': 347,
 '750Li Innovation Package': 348,
 '750Li Luxury Package': 349,
 '760Li Bulletproof': 350,
 '760Li': 351,
 '760Li Innovation + Luxury Pac': 352,
 '760Li Innovation Package': 353,
 '760Li Luxury Package': 354,
 '745Li': 355,
 '730Ld CKD DPE Signature': 356,
 '730Ld M Sports Plus': 357,
 'M 760Li xDrive': 358,
 '745Li Hybrid': 359,
 '740 LI M SPORTS': 360,
 '730 LD': 361,
 '4.2 V8': 362,
 '4.7 (AT)': 363,
 'GT 530d': 364,
 'S': 365,
 '4.7 S (AT)': 366,
 'GT 530d (Imported)': 367,
 'GT 630i Sport Line': 368,
 'GT 630d Luxury Line': 369,
 'GT 630d M Sport': 370,
 'GT 630i Luxury Line': 371,
 'GT 320d': 372,
 '2.0 Diesel Luxury Line': 373,
 'GT 330i Luxury Line': 374,
 'GT 320d Luxury Line': 375,
 'GT 320d Sports Line': 376,
 'GT 320i Luxury Line Plus': 377,
 'Hybrid': 378,
 'Individual M5': 379,
 'M3 Convertible': 380,
 'M3 Convertible Advanced': 381,
 'M3 Coupe': 382,
 'M3 Coupe Advanced': 383,
 'M5': 384,
 'M6 Convertible': 385,
 'M6 Convertible 4.4': 386,
 'M6 Convertible Individual': 387,
 'M6 Coupe': 388,
 'M6 Coupe 4.4': 389,
 'M6 Coupe Individual': 390,
 'M3 Sedan': 391,
 'M2 Competiton': 392,
 'M8 Gran Coupe': 393,
 'M3': 394,
 'Competition': 395,
 'xDrive': 396,
 'xDrive V12 Excellence': 397,
 'sDrive20d Expedition': 398,
 'sDrive20d M Sport': 399,
 'sDrive20d xLine': 400,
 'sDrive20i xLine': 401,
 'xDrive 20d M Sport': 402,
 'SDrive 20i x line AT': 403,
 'Xdrive 20d xline': 404,
 'X1 sDrive 18i': 405,
 'X1 sDrive 20d': 406,
 'X1 sDrive 20d CBU': 407,
 'X1 sDrive 20d Cool Elegance': 408,
 'X1 sDrive 20d CorporateED': 409,
 'X1 sDrive 20d Exclusive': 410,
 'X1 sDrive20d Highline': 411,
 'X1 sDrive20d Innovation': 412,
 'X1 sDrive20i SportX': 413,
 'xDrive20d Expedition': 414,
 'xDrive20d xLine': 415,
 'xDrive20i xLine': 416,
 'XDRIVE 20D LUXURY LINE': 417,
 'xDrive30i Luxury Line': 418,
 'xDrive 20d Edition Luxury': 419,
 '2.0d X3': 420,
 '2.0d X3 Advantage': 421,
 '2.5 X3 Si': 422,
 '3.0 X3 Si': 423,
 '3.0d X3': 424,
 'M Sport': 425,
 'xDrive30i SportX Plus': 426,
 'xDrive30i M Sport': 427,
 'xDrive 30d Design PureEP': 428,
 'xDrive 30d Expedition': 429,
 'xDrive 30d M Sport': 430,
 'xDrive 35i Design Pure Exp 5S': 431,
 'xDrive 30d Xline': 432,
 'xDrive 30i Expedition': 433,
 '3.0d 1': 434,
 '3.0d 2': 435,
 '3.0d X5': 436,
 '3.0d X5 7STR': 437,
 '3.0d X5 FF42 7STR': 438,
 '3.0d X5 Highline': 439,
 '3.0d X5 Luxury Package': 440,
 '3.0d X5 SAV': 441,
 '3.0i X5 RHD': 442,
 'X5 4.4i': 443,
 'X5 4.8i': 444,
 'X5 4.8i 7STR': 445,
 'X5 50i 5STR': 446,
 'X5 50i 5STRLuxury Package': 447,
 'X5 50i Fully Loaded 5STR': 448,
 'X5 xDrive 30D (Options)': 449,
 'xDrive 50i Options': 450,
 'X5 xDrive 30D (IMPORTED)': 451,
 'X5 xDrive RHD CBU (IMPORTED)': 452,
 'xDrive 40i M Sport': 453,
 'xDrive 40d M Sport': 454,
 '4.4 V8 4X4': 455,
 'X6 M': 456,
 'x Drive 30d': 457,
 'x Drive 35D': 458,
 'x Drive 40d': 459,
 'x Drive 5.0i': 460,
 'x Drive 35i M Sport': 461,
 'xDrive40i M Sport': 462,
 '2.2 Roadster': 463,
 'Roadster': 464,
 '3.21 M Coupe': 465,
 '3.0i Roadster': 466,
 'sDrive35i': 467,
 'sDrive35i CBU': 468,
 'sDrive 20i': 469,
 'M40i': 470,
 '35i': 471,
 '35i DPT': 472,
 '2.0I': 473,
 'x Drive 20d M Sport X': 474,
 'x Drive 30d M Sport X': 475,
 'x Drive 30i M Sport X': 476,
 'x Drive 30d DPE Signature': 477,
 'x Drive 40i': 478,
 'x Drive 30d DPE': 479,
 'M50d': 480,
 'x Drive 30d DPE SIGNATURE': 481,
 '40i M Sport': 482,
 'VINTAGE': 483,
 'Xdrive 40': 484,
 'eDrive40': 485,
 '220 d Gran Coupe Sport': 486,
 'Black Shadow Edition': 487,
 '220 I Gran Coupe M Sport': 488,
 '1.6 Hatch': 489,
 '1.4 D 5Door Hatch with (AT)': 490,
 '1.6': 491,
 '2.0 SD': 492,
 '1.6 R57': 493,
 'S COUNTRY Man': 494,
 '1.6 Hatch R56': 495,
 '1.6 Hatch R60': 496,
 '1.6 High Hatch R60': 497,
 'CLUBMAN': 498,
 '1.6 135 KW': 499,
 '1.6 High 135 KW': 500,
 'Cooper SD': 501,
 'Cooper S': 502,
 'Cooper S JCW inspired': 503,
 '1275 GT': 504,
 '2.0 L R60 High (AT)': 505,
 '2.0 L LCI (AT)': 506,
 'D': 507,
 'S Carbon Edition': 508,
 'S 3 DOOR': 509,
 'D 3 DOOR': 510,
 '1.4': 511,
 '1.4 E': 512,
 '1.4 LS': 513,
 '1.4 LS Ltd edition': 514,
 '1.4 LT': 515,
 '1.4 LT (ABS)': 516,
 '1.6 LT': 517,
 '1.6 LT (ABS)': 518,
 '1.6 LT Option pack': 519,
 '1.6 LT (MT)': 520,
 '1.2': 521,
 '1.2 LS': 522,
 '1.2 LT': 523,
 '1.2 LT (O) with Airbag': 524,
 '1.2 LT (O)': 525,
 'LS': 526,
 '1.0 LS': 527,
 '1.0 LT': 528,
 '1.0 LT (O)': 529,
 '1.0 PS': 530,
 '1.0 TCDI': 531,
 '1.2 Base': 532,
 '1.2 PS': 533,
 'LT': 534,
 'LTZ': 535,
 'PS': 536,
 '1.19 Base (MT)': 537,
 '1.2 LTZ': 538,
 'LT BSIII': 539,
 '2.0 AWD 5STR (AT)': 540,
 '2.0 AWD 7STR (AT)': 541,
 '2.0 LT 5STR': 542,
 '2.0 LT 7STR': 543,
 '2.0 LTZ 5STR': 544,
 '2.0 LTZ 7STR': 545,
 '2.0 LTZ AWD 5STR (AT)': 546,
 '2.0 LTZ AWD 7STR (AT)': 547,
 '2.2 LTZ AWD 7STR (AT)': 548,
 'Xtreme': 549,
 '2.2L': 550,
 '110 PS RXL ADVENTURE EDITION': 551,
 '2.0 LT': 552,
 '2.0 LT New': 553,
 '2.0 LTZ': 554,
 '2.0 LTZ (AT)': 555,
 '2.0 LTZ New (AT)': 556,
 '2.0 LTZ New (MT)': 557,
 'LTZ (AT)': 558,
 'J300': 559,
 '1.3 TCDi LS 7STR': 560,
 '1.3 TCDi LS 8STR': 561,
 '1.3 TCDi LT 7STR': 562,
 '1.3 TCDi LT 8STR': 563,
 '1.3 TCDi LTZ 7STR': 564,
 '1.3 TCDi LTZ 8STR': 565,
 '1.4 LS 7STR': 566,
 '1.4 LS 8STR': 567,
 '1.4 LT 7STR': 568,
 '1.4 LT 8STR': 569,
 '1.4 LTZ 7': 570,
 '1.4 LTZ 8': 571,
 '1.3 LS': 572,
 '1.6 Base': 573,
 '1.6 Elite': 574,
 '1.6 LS': 575,
 '1.6 LS NY': 576,
 '1.6 LT Royale': 577,
 '1.6 NY': 578,
 '1.6 Platinum': 579,
 '1.8 LS': 580,
 '1.8 LS NY': 581,
 '1.8 LT': 582,
 '1.8 LT (AT)': 583,
 '1.8 LT NY': 584,
 '1.8 LT NY (AT)': 585,
 'LACETTI': 586,
 'Viva': 587,
 '1.6 Max': 588,
 '2.0 LS TCDI': 589,
 '2.0 LT TCDI': 590,
 '2.0 TCDi Max': 591,
 '1.6 (O)': 592,
 '1.2 LS (ABS)': 593,
 '1.3 Base': 594,
 '1.3 LS (ABS)': 595,
 '1.3 LT (ABS)': 596,
 '1.2L ABS': 597,
 '1.3 TCDi LT ABS': 598,
 '1.3 TCDi PS': 599,
 '1.2 LS NON ABS': 600,
 '1.2 LS (ABS)(MT)': 601,
 '1.2 LT (ABS)': 602,
 '1.3 TCDi': 603,
 '1.3 TCDi LS': 604,
 '1.3 TCDi LS (ABS)': 605,
 '1.3 TCDi LT (ABS)': 606,
 '1.3 PS': 607,
 'LT ABS': 608,
 '1': 609,
 '1.0 E': 610,
 '1.0 LS Music edition': 611,
 'Base 10STR BSIV': 612,
 'Base 9STR BSIV': 613,
 'LS 10STR BSIV': 614,
 'LS 7STR BSIV': 615,
 'LS 9STR BSIV': 616,
 'LT 9STR BSIV': 617,
 'Max 10STR BSIV': 618,
 'Max 9STR BSIV': 619,
 'B1': 620,
 'B2': 621,
 'ELite LS B3': 622,
 'ELite LT L1': 623,
 'ELite LT L2': 624,
 'ELite SS D1': 625,
 'NY B1': 626,
 'NY B2': 627,
 'NY ELite LS B3': 628,
 'NY ELite LT L1': 629,
 'NY ELite LT L2': 630,
 'NY ELite SS D1': 631,
 'LS 10 Str BS IV': 632,
 'LTZ 4x2 (AT)': 633,
 'C6': 634,
 'Fire bird': 635,
 'LS B3 10STR': 636,
 'LS B3 7STR': 637,
 'LS B4 5STR': 638,
 'LS B4 7STR': 639,
 'LT 7STR': 640,
 'LT 9STR': 641,
 'SS D1 7STR': 642,
 'SS D1 8STR': 643,
 '10STR BS4': 644,
 '2.5 6STR': 645,
 '2.5 LT 8STR': 646,
 '2.5 10STR': 647,
 '2.5 7STR': 648,
 '2.5 LS 10STR': 649,
 '2.5 LS Captain 7STR': 650,
 '2.5 LS 7STR': 651,
 '2.5 LS Captain 7STR BS4': 652,
 '2.5 LT Captain 7STR': 653,
 '2.5 LT 9STR': 654,
 '2.5 LT Captain 7STR BS4': 655,
 '2.5 Max 10STR': 656,
 '2.5 Max 7STR': 657,
 'LS 10STR BS4': 658,
 'LS 7STR BS4': 659,
 'LT 8STR BS4': 660,
 'LT 9STR BS4': 661,
 'Max 10STR BS4': 662,
 'Max 7STR BS4': 663,
 '2.5 MAX': 664,
 'B3': 665,
 'LS BS3': 666,
 'LS 9 BS3': 667,
 'LS B2': 668,
 'LS B3': 669,
 '1937': 670,
 '1973': 671,
 'DIV': 672,
 'CORVETTE STING RAY': 673,
 'CHEVROLET NATIONAL': 674,
 'IMPALA': 675,
 'SPECIAL ROADSTER': 676,
 'FLEAT MASTER': 677,
 'FORESTER': 678,
 'GMC': 679,
 'Estate': 680,
 'PETROL': 681,
 '3.8 V6 Limited': 682,
 '2.8 CRD': 683,
 'CHRYSLER': 684,
 '77 PHAETON': 685,
 'TOURER': 686,
 'PLYMOUTH': 687,
 'IMPERIAL': 688,
 'Hemi 5.7 V8': 689,
 'NEW YORKER': 690,
 'GLE': 691,
 'GLX': 692,
 'GL': 693,
 'CNG': 694,
 'SA': 695,
 'SD': 696,
 'SG': 697,
 'SS': 698,
 'Deluxe': 699,
 'A': 700,
 'A EPS': 701,
 'Anniversery Edition': 702,
 'T': 703,
 'T (O)': 704,
 'D1': 705,
 'REMIX EDITION': 706,
 'T (O) BS VI': 707,
 'T CVT': 708,
 'Sport': 709,
 '1.0 T (O)': 710,
 '1.0 S': 711,
 'GOLD LIMITED EDITION': 712,
 '1.0 T (O) AMT': 713,
 '1.0 S AMT': 714,
 'LIMITED EDITION': 715,
 '4.3 V8': 716,
 'California': 717,
 'F1 Coupe': 718,
 'Italia': 719,
 '4.5 Italia Coupe': 720,
 '4.5 Spider': 721,
 'SPECIALE': 722,
 'GTB': 723,
 'GTB F1': 724,
 '6.3 V12': 725,
 'Pista': 726,
 'HYBRID ELEC': 727,
 'PORTOFLINO': 728,
 '695': 729,
 'Abarth 595 competizione': 730,
 '1.4 Active': 731,
 '1.3 Active Multijet': 732,
 '1.4 Dynamic': 733,
 '1.3 Dynamic Multijet': 734,
 '1.3 Emotion Multijet': 735,
 '1.3 Emotion Power Up': 736,
 '1.3 Active Power Up': 737,
 '1.3 Dynamic Power Up': 738,
 '1.9 JTD Sport 16 V': 739,
 '1.2 Active': 740,
 '1.2 Dynamic': 741,
 '1.2 Emotion': 742,
 '1.3 Active': 743,
 '1.3 Dynamic': 744,
 '1.3 Emotion': 745,
 '1.3 Emotion pack': 746,
 '1.4 Emotion': 747,
 '1.4 Emotion pack': 748,
 '1.3 Sport': 749,
 '1.2 EVO Active': 750,
 '1.2 EVO Dynamic': 751,
 '1.3 EVO Active': 752,
 '1.3 EVO Dynamic': 753,
 '1.3 EVO Emotion': 754,
 '1.3 EVO Emotion Sport': 755,
 '1.4 EVO Emotion': 756,
 '1.4 EVO Emotion Sport': 757,
 '1.3 EVO Sportivo': 758,
 'Pure 1.2': 759,
 'Pure 1.3': 760,
 'BASIC': 761,
 '1.4 T-JET Active': 762,
 '1.4 T-JET Dynamic': 763,
 '1.4 T-JET Emotion': 764,
 'Active': 765,
 'Dynamic': 766,
 'Dynamic Pack': 767,
 'Emotion': 768,
 'Emotion pack': 769,
 'T-JET': 770,
 'T-JET Plus': 771,
 '1.4 Fire Active Power Up': 772,
 '1.4 T Jet Emotion Power Up': 773,
 'EMOTION': 774,
 '1.3 Classic Multijet': 775,
 '1.3 Classic Plus Multijet': 776,
 '1.4 Classic': 777,
 '1.3 Multijet Plus with Alloy': 778,
 '1.2 EL': 779,
 '1.2 EL PS': 780,
 '1.2 ELX': 781,
 '1.2 Sport': 782,
 '1.6 GTX': 783,
 '1.6 Sport': 784,
 '1.9 Adventure': 785,
 '1.9 EL PS': 786,
 '1.9 ELX': 787,
 'Adventure': 788,
 'Adventure PS': 789,
 'Adventure Sport': 790,
 'S 10': 791,
 '1.1 SL': 792,
 '1.1 SLE': 793,
 '1.1 SLX': 794,
 '1.6 Sports': 795,
 '1.3 SD': 796,
 '1.3 SDE': 797,
 '1.3 SDX': 798,
 '100 SX': 799,
 '1.6 EL': 800,
 '1.6 EL PS': 801,
 '1.6 ELX': 802,
 '1.9 EL': 803,
 '1.2 ELX PS': 804,
 '1.2 EX': 805,
 '1.2 EL AC': 806,
 '1.2 ELX AC': 807,
 '1.2 Trend': 808,
 '1.2 Trend AC': 809,
 '1.7 Trend': 810,
 'Base': 811,
 'Pure 1.2 Fire': 812,
 '1.3L Advanced Multi-Jet': 813,
 '1.2L Fire': 814,
 'CABRIOLET': 815,
 '1100': 816,
 'TIPO': 817,
 'ELEGANT': 818,
 '131 SUPER MANIA': 819,
 'TOPOLINO': 820,
 '514 TIPO': 821,
 '1919 TIPO': 822,
 'MILLICENTO': 823,
 'EURO 2': 824,
 'LINEA 1.4 DYANAMIC': 825,
 'PREMIER PADMINI': 826,
 'Sedan': 827,
 'STATION WAGON': 828,
 '3V SEDAN': 829,
 '103 MILLECENTO': 830,
 '103 MILLECEN': 831,
 'EVO 1.4 T Jet': 832,
 '1.4 T Jet': 833,
 '1.3 Multijet Dynamic': 834,
 '1.3 Multijet Active': 835,
 '1.3 Multijet Emotion': 836,
 '1.4 T Jet Emotion': 837,
 '1.3 Emotion Pack': 838,
 '1.4 Emotion Pack': 839,
 '1.3 Sport Diesel': 840,
 'Emotion 90hp': 841,
 '1.3 Sport petrol': 842,
 'Crusier 10STR': 843,
 'Crusier Classic 10STR': 844,

In [20]:
df['variant']=[var_dic[x] for x in df['variant']]

In [21]:
df.head()

   make  model  variant fuel_type    cc  seating_capacity      output
0     0      0        0    Petrol  3179                 5  1110110101
1     0      1        1    Petrol  1100                 5  1110110201
2     0      1        2    Petrol  1750                 5  1110110202
3     0      1        2    Petrol  1570                 5  1110110203
4     0      1        2    Petrol  1110                 5  1110110204

In [22]:
fuel_dic={}

fuel_num=df['fuel_type'].unique()
for i,y in enumerate(fuel_num):
    fuel_dic[y]=i
fuel_dic

{'Petrol': 0, 'Diesel': 1, 'Electric': 2, 'CNG': 3, 'LPG': 4}

In [23]:
df['fuel_type']=[fuel_dic[x] for x in df['fuel_type']]

In [24]:
df.head()

   make  model  variant  fuel_type    cc  seating_capacity      output
0     0      0        0          0  3179                 5  1110110101
1     0      1        1          0  1100                 5  1110110201
2     0      1        2          0  1750                 5  1110110202
3     0      1        2          0  1570                 5  1110110203
4     0      1        2          0  1110                 5  1110110204

In [25]:
cc_dic={}

cc_num=df['cc'].unique()
for i,y in enumerate(cc_num):
    cc_dic[y]=i
cc_dic

{3179: 0,
 1100: 1,
 1750: 2,
 1570: 3,
 1110: 4,
 5935: 5,
 4735: 6,
 3880: 7,
 5204: 8,
 1000: 9,
 7312: 10,
 3982: 11,
 1968: 12,
 1984: 13,
 1798: 14,
 1395: 15,
 1781: 16,
 2967: 17,
 3197: 18,
 1997: 19,
 2698: 20,
 2773: 21,
 2976: 22,
 2995: 23,
 3132: 24,
 4134: 25,
 3993: 26,
 6299: 27,
 4163: 28,
 5998: 29,
 6300: 30,
 3597: 31,
 3996: 32,
 3189: 33,
 2894: 34,
 2189: 35,
 1: 36,
 6761: 37,
 6000: 38,
 6752: 39,
 6750: 40,
 2000: 41,
 1598: 42,
 4500: 43,
 4000: 44,
 1850: 45,
 4257: 46,
 4275: 47,
 5950: 48,
 1995: 49,
 2993: 50,
 1895: 51,
 1596: 52,
 2497: 53,
 2996: 54,
 1998: 55,
 2998: 56,
 2793: 57,
 2979: 58,
 4398: 59,
 4799: 60,
 4395: 61,
 5972: 62,
 3600: 63,
 4244: 64,
 4691: 65,
 1499: 66,
 4999: 67,
 3999: 68,
 2987: 69,
 2171: 70,
 2997: 71,
 2900: 72,
 1496: 73,
 1275: 74,
 1399: 75,
 1150: 76,
 936: 77,
 1199: 78,
 995: 79,
 1991: 80,
 2231: 81,
 1461: 82,
 1248: 83,
 1599: 84,
 1799: 85,
 2499: 86,
 1994: 87,
 2776: 88,
 1800: 89,
 1462: 90,
 990: 91,
 1396: 92,
 3442: 93,
 2800: 94,
 4700: 95,
 2673: 96,
 2970: 97,
 8200: 98,
 5700: 99,
 3859: 100,
 7400: 101,
 2500: 102,
 1501: 103,
 510: 104,
 3547: 105,
 4866: 106,
 1498: 107,
 1990: 108,
 3778: 109,
 2777: 110,
 3294: 111,
 5407: 112,
 5301: 113,
 2130: 114,
 2892: 115,
 2344: 116,
 6768: 117,
 5654: 118,
 1600: 119,
 796: 120,
 1198: 121,
 799: 122,
 999: 123,
 4297: 124,
 4308: 125,
 4499: 126,
 4496: 127,
 5999: 128,
 6262: 129,
 2926: 130,
 3496: 131,
 4943: 132,
 3902: 133,
 3990: 134,
 3855: 135,
 1368: 136,
 1910: 137,
 1172: 138,
 1668: 139,
 1242: 140,
 1108: 141,
 1592: 142,
 1581: 143,
 1697: 144,
 1500: 145,
 500: 146,
 1608: 147,
 1089: 148,
 1465: 149,
 569: 150,
 2296: 151,
 1408: 152,
 1889: 153,
 1200: 154,
 498: 155,
 1098: 156,
 1125: 157,
 1069: 158,
 800: 159,
 1489: 160,
 1380: 161,
 2600: 162,
 2596: 163,
 2200: 164,
 2650: 165,
 1196: 166,
 1497: 167,
 2198: 168,
 2495: 169,
 2953: 170,
 3198: 171,
 1996: 172,
 1388: 173,
 1398: 174,
 1400: 175,
 1299: 176,
 1297: 177,
 1597: 178,
 1753: 179,
 4951: 180,
 2199: 181,
 1194: 182,
 2423: 183,
 3150: 184,
 4200: 185,
 2963: 186,
 3300: 187,
 3900: 188,
 5752: 189,
 5500: 190,
 3286: 191,
 1298: 192,
 4800: 193,
 5152: 194,
 3703: 195,
 7670: 196,
 2896: 197,
 4990: 198,
 2400: 199,
 3621: 200,
 6390: 201,
 7500: 202,
 3250: 203,
 3000: 204,
 1520: 205,
 2025: 206,
 1999: 207,
 900: 208,
 1817: 209,
 1476: 210,
 1495: 211,
 1415: 212,
 1092: 213,
 1450: 214,
 860: 215,
 980: 216,
 2254: 217,
 2354: 218,
 3471: 219,
 2490: 220,
 1993: 221,
 1343: 222,
 1493: 223,
 1339: 224,
 6162: 225,
 6200: 226,
 3653: 227,
 3700: 228,
 1527: 229,
 1595: 230,
 1582: 231,
 1591: 232,
 1353: 233,
 1795: 234,
 1797: 235,
 1197: 236,
 814: 237,
 998: 238,
 1086: 239,
 1341: 240,
 1186: 241,
 1120: 242,
 2359: 243,
 2657: 244,
 2902: 245,
 5026: 246,
 2179: 247,
 2720: 248,
 4196: 249,
 5000: 250,
 3500: 251,
 2792: 252,
 4235: 253,
 1540: 254,
 1776: 255,
 2483: 256,
 5343: 257,
 6498: 258,
 4961: 259,
 6496: 260,
 4997: 261,
 3628: 262,
 4197: 263,
 4367: 264,
 2700: 265,
 2523: 266,
 2498: 267,
 2112: 268,
 1522: 269,
 48: 270,
 2609: 271,
 2184: 272,
 1390: 273,
 2489: 274,
 1300: 275,
 909: 276,
 2696: 277,
 2157: 278,
 1067: 279,
 2122: 280,
 4161: 281,
 970: 282,
 1061: 283,
 793: 284,
 1373: 285,
 1021: 286,
 2393: 287,
 1491: 288,
 1586: 289,
 993: 290,
 730: 291,
 1076: 292,
 1590: 293,
 3799: 294,
 2989: 295,
 2143: 296,
 2147: 297,
 1332: 298,
 1950: 299,
 1796: 300,
 2148: 301,
 2295: 302,
 2496: 303,
 6208: 304,
 2982: 305,
 3199: 306,
 3498: 307,
 5461: 308,
 5439: 309,
 2597: 310,
 2398: 311,
 2599: 312,
 2685: 313,
 3222: 314,
 2950: 315,
 2717: 316,
 2925: 317,
 2999: 318,
 4663: 319,
 5980: 320,
 2688: 321,
 4266: 322,
 2799: 323,
 3724: 324,
 4966: 325,
 5786: 326,
 2745: 327,
 2962: 328,
 3818: 329,
 1884: 330,
 2581: 331,
 1685: 332,
 4622: 333,
 6332: 334,
 1897: 335,
 5675: 336,
 2550: 337,
 2778: 338,
 1790: 339,
 2306: 340,
 4973: 341,
 1340: 342,
 3408: 343,
 1988: 344,
 1468: 345,
 1834: 346,
 2360: 347,
 2477: 348,
 2835: 349,
 3200: 350,
 2972: 351,
 1360: 352,
 2349: 353,
 1815: 354,
 4414: 355,
 3988: 356,
 1330: 357,
 2825: 358,
 5600: 359,
 2988: 360,
 1364: 361,
 1700: 362,
 1389: 363,
 1589: 364,
 1488: 365,
 3596: 366,
 3800: 367,
 3824: 368,
 2981: 369,
 2687: 370,
 2893: 371,
 3387: 372,
 4806: 373,
 3598: 374,
 3604: 375,
 2860: 376,
 4511: 377,
 3436: 378,
 3605: 379,
 1173: 380,
 1171: 381,
 700: 382,
 1366: 383,
 1060: 384,
 950: 385,
 6592: 386,
 6600: 387,
 6749: 388,
 6562: 389,
 7700: 390,
 3588: 391,
 7428: 392,
 6230: 393,
 3699: 394,
 7668: 395,
 4600: 396,
 3669: 397,
 6290: 398,
 7340: 399,
 4887: 400,
 3127: 401,
 1422: 402,
 1896: 403,
 1757: 404,
 1145: 405,
 2771: 406,
 1978: 407,
 1193: 408,
 624: 409,
 1405: 410,
 1179: 411,
 1948: 412,
 2956: 413,
 2092: 414,
 1956: 415,
 2040: 416,
 1047: 417,
 2494: 418,
 2362: 419,
 2487: 420,
 1794: 421,
 1762: 422,
 2694: 423,
 2755: 424,
 2394: 425,
 3956: 426,
 2446: 427,
 4461: 428,
 5663: 429,
 2890: 430,
 3340: 431,
 2779: 432,
 4298: 433,
 3968: 434,
 4605: 435,
 4300: 436,
 3456: 437,
 4969: 438,
 1346: 439,
 3986: 440,
 2493: 441,
 1695: 442,
 1588: 443,
 1192: 444,
 975: 445,
 1470: 446,
 1131: 447,
 4921: 448,
 1740: 449,
 1969: 450,
 1964: 451,
 3192: 452,
 1780: 453,
 1898: 454,
 6417: 455,
 2562: 456,
 1563: 457,
 3023: 458,
 1960: 459,
 948: 460,
 2088: 461,
 150: 462,
 216: 463,
 1973: 464,
 602: 465,
 1911: 466,
 3769: 467,
 3608: 468,
 2535: 469,
 1560: 470,
 5162: 471,
 2340: 472,
 6276: 473,
 3568: 474,
 4071: 475,
 1939: 476,
 1260: 477,
 1271: 478,
 3013: 479,
 1072: 480,
 1680: 481,
 6178: 482,
 3790: 483,
 3569: 484,
 7200: 485,
 5588: 486,
 1825: 487,
 6400: 488,
 5670: 489,
 5785: 490,
 5981: 491,
 7417: 492,
 5120: 493,
 2664: 494,
 5781: 495,
 7025: 496,
 3249: 497,
 5424: 498,
 6199: 499,
 4680: 500,
 997: 501,
 2660: 502,
 1030: 503,
 985: 504,
 1622: 505,
 3995: 506,
 4315: 507,
 1046: 508,
 4068: 509,
 6970: 510,
 300: 511,
 1350: 512,
 5247: 513,
 4064: 514,
 4100: 515,
 4565: 516,
 2060: 517,
 643: 518,
 1149: 519,
 5833: 520,
 6293: 521,
 4380: 522,
 1900: 523,
 5680: 524,
 4784: 525,
 4720: 526,
 2403: 527,
 1050: 528,
 750: 529,
 6250: 530,
 3850: 531,
 7570: 532,
 2417: 533,
 2794: 534,
 914: 535,
 1250: 536,
 1502: 537,
 3556: 538,
 6998: 539,
 3040: 540,
 2443: 541,
 3447: 542,
 1580: 543,
 3470: 544,
 3455: 545,
 2150: 546,
 5745: 547,
 4598: 548,
 1138: 549,
 1451: 550,
 1349: 551,
 4787: 552,
 4375: 553,
 7900: 554,
 4062: 555,
 1568: 556,
 4900: 557,
 2520: 558,
 1147: 559,
 4739: 560,
 4890: 561,
 3380: 562,
 5324: 563,
 6391: 564,
 5572: 565,
 3153: 566,
 1789: 567,
 2262: 568,
 3257: 569,
 2991: 570,
 1979: 571,
 1989: 572,
 1010: 573,
 1394: 574,
 369: 575,
 2275: 576,
 5570: 577,
 3306: 578,
 3960: 579,
 3160: 580,
 1645: 581,
 580: 582,
 1122: 583,
 1290: 584,
 4343: 585,
 6500: 586,
 3459: 587,
 200: 588,
 865: 589,
 3917: 590,
 2364: 591,
 1278: 592,
 1270: 593,
 6277: 594,
 7300: 595,
 1259: 596,
 1512: 597,
 2522: 598,
 4690: 599,
 1080: 600,
 1971: 601,
 3774: 602,
 2931: 603,
 855: 604,
 692: 605,
 932: 606,
 2418: 607,
 6597: 608}

In [26]:
df['cc']=[cc_dic[x] for x in df['cc']]

In [27]:
df

      make  model  variant  fuel_type   cc  seating_capacity      output
0        0      0        0          0    0                 5  1110110101
1        0      1        1          0    1                 5  1110110201
2        0      1        2          0    2                 5  1110110202
3        0      1        2          0    3                 5  1110110203
4        0      1        2          0    4                 5  1110110204
...    ...    ...      ...        ...  ...               ...         ...
7673   153    620     6018          1   86                 5  1125800101
7674   154      1      483          1  608                 5  1125900101
7675   155      1     6019          0  204                 2  1126000101
7676   156      1     6020          0   89                 2  1126100101
7677    40    540     6021          1  287                 5  1113913204

[7678 rows x 7 columns]

In [28]:
sc_dic={}

sc_num=df['seating_capacity'].unique()
for i,y in enumerate(sc_num):
    sc_dic[y]=i
sc_dic

{5: 0, 4: 1, 2: 2, 7: 3, 6: 4, 8: 5, 10: 6, 9: 7, 12: 8, 13: 9, 14: 10, 1: 11}

In [29]:
df['seating_capacity']=[sc_dic[x] for x in df['seating_capacity']]

In [30]:
df

      make  model  variant  fuel_type   cc  seating_capacity      output
0        0      0        0          0    0                 0  1110110101
1        0      1        1          0    1                 0  1110110201
2        0      1        2          0    2                 0  1110110202
3        0      1        2          0    3                 0  1110110203
4        0      1        2          0    4                 0  1110110204
...    ...    ...      ...        ...  ...               ...         ...
7673   153    620     6018          1   86                 0  1125800101
7674   154      1      483          1  608                 0  1125900101
7675   155      1     6019          0  204                 2  1126000101
7676   156      1     6020          0   89                 2  1126100101
7677    40    540     6021          1  287                 0  1113913204

[7678 rows x 7 columns]

In [31]:

inputs=['make','model','variant','cc','seating_capacity','fuel_type']
x = df[inputs] # Features
y = df.local_output # Target variable
x

AttributeError: 'DataFrame' object has no attribute 'local_output'

In [37]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.1, random_state=42) # 70% training and 30% test

TypeError: Singleton array 1 cannot be considered a valid collection.

In [38]:
# Create Decision Tree classifer object
clf = DecisionTreeClassifier()

# Train Decision Tree Classifer
clf = clf.fit(x_train,y_train)

#Predict the response for test dataset
y_pred = clf.predict(x_test)

NameError: name 'x_train' is not defined

In [39]:

print(clf.predict([[1,1,1,1,0,1]]))

NotFittedError: This DecisionTreeClassifier instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator.

In [40]:
df_train=pd.read_excel("train.xlsx")
df_test=pd.read_csv("test_mine.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'test_mine.csv'

In [41]:
df_train

,make,model,variant,cc,seating_capacity,fuel_type,local_output
0,HONDA,CR-V,2.4 MT,2354,5,PETROL,12623
1,HONDA,CR-V,2.4 MT,2354,5,PETROL,12623
2,VOLKSWAGEN,AMEO,1.5L TDI MT COMFORTLINE PLUS,1498,5,DIESEL,36811
3,FORD,FIGO,1.2 TITANIUM SPORTS PETROL,1196,5,PETROL,36819
4,LAMBORGHINI,AVENTADOR,S LP 740-4,6498,2,PETROL,37548
...,...,...,...,...,...,...,...
5732,TATA MOTORS LTD,TIGOR,XZ CNG,1199,5,CNG,46395
5733,TATA MOTORS LTD,TIGOR,REVOTRON XZ(O),1199,5,PETROL,36226
5734,TATA MOTORS LTD,TIGOR,REVOTRON XT,1199,5,PETROL,36224
5735,FORD,IKON,1.3 IRIS,1299,5,PETROL,46464
5736,MAHINDRA.,KUV 100,TRIP 5 STR CNG,1198,5,CNG,43202

In [42]:
df_train.drop(df_train.iloc[:, 7:26], inplace=True, axis=1)

In [43]:
df_train

,make,model,variant,cc,seating_capacity,fuel_type,local_output
0,HONDA,CR-V,2.4 MT,2354,5,PETROL,12623
1,HONDA,CR-V,2.4 MT,2354,5,PETROL,12623
2,VOLKSWAGEN,AMEO,1.5L TDI MT COMFORTLINE PLUS,1498,5,DIESEL,36811
3,FORD,FIGO,1.2 TITANIUM SPORTS PETROL,1196,5,PETROL,36819
4,LAMBORGHINI,AVENTADOR,S LP 740-4,6498,2,PETROL,37548
...,...,...,...,...,...,...,...
5732,TATA MOTORS LTD,TIGOR,XZ CNG,1199,5,CNG,46395
5733,TATA MOTORS LTD,TIGOR,REVOTRON XZ(O),1199,5,PETROL,36226
5734,TATA MOTORS LTD,TIGOR,REVOTRON XT,1199,5,PETROL,36224
5735,FORD,IKON,1.3 IRIS,1299,5,PETROL,46464
5736,MAHINDRA.,KUV 100,TRIP 5 STR CNG,1198,5,CNG,43202

In [36]:
df_train=df_train.drop_duplicates()

NameError: name 'df_train' is not defined

In [35]:
simi=0
max1=0
output=[]
index1=0
df_train.set_index("local_output", inplace = True)
for i in df_test.index:
    max1=0
    l=[]
    lo_ou=df_test['local_output'][i]
    result=df_train.loc[lo_ou]
    for _ in range(6):
        l.append(result[_])
    for j in df.index:
        train_str="".join(l)
        list_master=[df['make'][j],df['model'][j],df['variant'][j],df['cc'][j],df['seating_capacity'][j],df['fuel_type'][j]]
        master_str=" ".join(list_master)
        #print(train_str)
        #print(master_str)
        simi=fuzz.token_set_ratio(master_str, train_str)
        if(simi>max1):
            max1=simi
            index1=j
            print(index1)
    #print(output)
    print(df['output'][index1])
    #output.append(df['output'][index1])
    simi=0

NameError: name 'df_train' is not defined

NameError: name 'df_train' is not defined